In [3]:
# Q4. 다음은 장학생, 합격, 불합격으로 구분하는 중첩 if 문입니다. 이를 if~elif문으로 변경하세요.
score =int(input("점수를 입력하세요 : "))
if score>=90:
    print("장학생", end="")
elif score>=60:
    print("합격",end="")
else :
    print("불합격",end="")

print("입니다. ^^")

점수를 입력하세요 : 55
불합격입니다. ^^

In [9]:
#Q5. 다음 코드의 2~5행을 삼항 연산자로 변경한 것으로 올은 것을 고르세요.
num =5
res ='짝수' if num%2 == 0 else '홀수'
print(res)

홀수

In [13]:
#Q6. 다음 각 코드를 실행한 후에, nn에 저장된 값을 쓰세요. 단 nn은 항상 보기의 5개 데이터가 저장되어 있다고 가정합니다.
nn= [100,200,300,400,500]
#(1) 
nn[1]=777 ; print(nn)
#(2)
nn[1]=[444,555] ;print(nn)
#(3)
nn[1:4]=[444,555] ;print(nn)
#(4)
nn[2:]=[] ;print(nn)

[100, 777, 300, 400, 500]
[100, [444, 555], 300, 400, 500]
[100, 444, 555, 500]
[100, 444]

In [17]:
#8. 다음은 for 문을 사용해서 1234부터 4567까지 444의 배수의 합계를 구하는 코드입니다. while 문으로 변경해서 코드를 다시 작성하세요.
hap=0
n=1234
while n <= 4568:
    if n%444 ==0:
        hap+=n
    n=n+1 
    
        
print(hap)

23088

In [6]:
#9. for 문을 사용해서 3333부터 9999까지 숫자 중에서 1234의 배수의 합께를 구하되 합계가 100000이 넘기 직전까지만 합께를 구하는 코드 작성.
#단 코드에는 continue와 break가 모두 사용해서 작성

for num in range(3333,10000):
    num %1234 ==0: continue 

    summ += num
    if summ>=10000:
        break

In [18]:
#14. 다음 코드를 실행한 후 myData에 저장된 값이 무엇인지 쓰세요.
myData =[[n*m for n in range(1,3)] for m in range(2,4)]
print(myData)

[[2, 4], [3, 6]]

In [20]:
#5 다음 각 코드가 출력하는 것을 쓰세요.
nn = [100,200,300,400,500]
#(1)
print(nn[4])
#(2)
print(nn[-1])
#(3)
print(nn[-2])
#(4)
print(nn[1:4])
#(5)
print(nn[0:1])
#(6)
print(nn[2:-1])
#(7)
print(nn[0::2])
#(8)
print(nn[::-1])
#(9)
print(nn[::-2])

500
500
400
[200, 300, 400]
[100]
[300, 400]
[100, 300, 500]
[500, 400, 300, 200, 100]
[500, 300, 100]